body {
    color: black;
}

a.home-url {
    position: relative;
    z-index: 2;
}

.bg-prime {
    background-color: #870160;
}

th:not(:first-child) {
    color: white;
    min-width: 100px !important;
}

.filter-heading {
    /*    position: absolute;*/
    /*    top: 0%;*/
    width: max-content;
    /*    left: 5%;*/
    background-color: #870160;
    padding: 5px 1rem;
    letter-spacing: 1px;
    font-size: 14px;
    box-shadow: 0 0 5px white;
    font-weight: bold;
    border-radius: 5px;
}

.filters-container {
    position: relative;
    background: linear-gradient(135deg,#1f005c, #5b0060, #870160, #ac255e, #ca485c, #e16b5c, #f39060, #ffb56b);
    -moz-border-radius: 1rem;
    -webkit-border-radius: 1rem;
    border-radius: 1rem;
}

.filters-celebrate-image {
    position: absolute;
    top: -30%;
    right: 0;
    width: 20rem;
    z-index: 1;
}

fieldset {
    color: white;
    border-radius: 1rem;
    z-index: 2;
}


/* Over riding selected default selected styles by data table */
table.dataTable.table-striped > tbody > tr:nth-of-type(2n+1).selected > * {
    box-shadow: inset 0 0 0 9999px #ca485c;
}

table.dataTable > tbody > tr.selected > * {
    box-shadow: inset 0 0 0 9999px #ca485c;
}



/* sticky first column. scrollable rest */
th {
    text-align: center !important;
}

.wrapper {
    position: relative;
    overflow-x: scroll;
    white-space: nowrap;
}

tr > *:first-child, sticky-first-col {
    position: -webkit-sticky !important;
    position: sticky !important;
    background-color: white;
    width: 100px;
    min-width: 100px;
    max-width: 100px;
    left: 0px;
    z-index: 1;
}



/* Scroll bar styles */
.wrapper::-webkit-scrollbar {
    height: 10px;
}

.wrapper::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
}

.wrapper::-webkit-scrollbar-thumb {
    background: linear-gradient(135deg,#1f005c, #5b0060, #870160, #ac255e, #ca485c, #e16b5c, #f39060, #ffb56b);
    --m: conic-gradient(from 45deg at left, #0000,#000 1deg 89deg,#0000 90deg) left /51% 3px repeat-y, conic-gradient(from -135deg at right, #0000,#000 1deg 89deg,#0000 90deg) right/51% 3px repeat-y;
    -webkit-mask: var(--m);
    mask: var(--m);
    color: white;
    border-radius: 10px;
    /*    outline: 1px solid slategrey;*/
}
